@import "import.css";

footer {
  height: 16rem;
  background-color: var(--gray-900);
  padding: 3.2rem 20rem 10.8rem 20rem;
  color: var(--gray-400);
}

.footer-link {
  display: flex;
  gap: 3rem;
  color: var(--gray-200);
}

.sns-link {
  display: flex;
  gap: 1.2rem;
}

.sns-link img {
  width: 20px;
  height: 20px;
}
