@import "import.css";

h3 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 3.2rem;
  color: var(--gray-900);
}

header {
  padding: 0 20rem;
  height: 7rem;
  border-bottom: 1px solid #dfdfdf;
}

main {
  padding: 0 36rem;
}

footer {
  height: 16rem;
  background-color: var(--gray-900);
  padding: 3.2rem 20rem 10.8rem 20rem;
  color: var(--gray-400);
}

#pandaLogo {
  width: 153px;
}

#topNav {
  flex: 1;
  margin-left: 3.2rem;
  display: flex;
  gap: 3.2rem;
  color: var(--gray-600);
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.148rem;
  text-align: center;
}

#loginButton {
  font-weight: 600;
  border-radius: 8px;
  padding: 1.1rem 2.3rem;
  line-height: 2.6rem;
}

#bestProducts {
  margin-top: 2.4rem;
  margin-bottom: 4rem;
}

#bestProductsTitle {
  margin-bottom: 1.6rem;
}

#bestProductsItems {
  width: 100%;
  height: 37.8rem;

  display: grid;
  gap: 2.4rem;
  grid-template-columns: repeat(4, 1fr);
}

#productOnSaleTitle {
  height: 4.2rem;
  margin-bottom: 2.4rem;

  display: flex;
  gap: 1rem;
}

#productOnSaleTitle h3 {
  flex-grow: 1;
}

#productOnSaleItems {
  height: 67.4rem;

  display: grid;
  gap: 4rem;
  grid-template-columns: repeat(5, 1fr);
}

#productOnSalePagination {
  margin-top: 4.3rem;
  margin-bottom: 5.8rem;
  height: 4rem;
}

.card {
  display: grid;
  /* flex-direction: column; */
  gap: 1.6rem;
  grid-template-rows: 1fr 8rem;
}

.card .product-img {
  background-color: blueviolet;
  flex-grow: 1;

  border-radius: 16px;
}

.card .product-info {
  background-color: chartreuse;
  height: 8rem;

  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.product-info .title {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: var(--gray-800);
}

.product-info .price {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: var(--gray-800);
}

.product-info .like {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: #4b5563;
}

.search-query {
  background-color: bisque;
  height: 100%;
  width: 32.5rem;
  border-radius: 12px;
}

.regist-button {
  background-color: var(--Primary-100);
  border-radius: 8px;
  text-align: center;
  font-weight: 600;
  font-size: 1.6rem;
  color: var(--gray-100);
  padding: 1.2rem 2.3rem;
}

.sort-order {
  background-color: cadetblue;
  height: 100%;
  width: 13rem;
  border-radius: 12px;
  border: 1px solid var(--gray-200);
}

.pagination.productOnSale {
  margin: 0 auto;
  width: 30.4rem;
  height: 100%;

  display: flex;
  gap: 0.4rem;
}

.pagination.productOnSale button {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  text-align: center;

  font-weight: 600;
  font-size: 1.6rem;
  color: var(--gray-500);

  border: 1px solid var(--gray-200);
}

.pagination.productOnSale button.now {
  background-color: var(--Primary-100);
  color: var(--gray-50);
  border: none;
}

.footer-link {
  display: flex;
  gap: 3rem;
  color: var(--gray-200);
}

.sns-link {
  display: flex;
  gap: 1.2rem;
}

.sns-link img {
  width: 20px;
  height: 20px;
}

/* ----------------------------------------------------------------------------------------------------------------- */

/* Tablet */
@media (max-width: 1199px) {
  header,
  footer {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }
}

/* ----------------------------------------------------------------------------------------------------------------- */

/* Mobile */
@media (max-width: 743px) {
  header,
  footer {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }

  #topNav {
    margin-left: 1.6rem;
    gap: 0.8rem;
    font-size: 1.6rem;
    line-height: 1.909rem;
  }
}
